body {
  font-family: sans-serif;
  padding: 20px;
  background: #f4f4f4;
}

.flex-container {
  background: #ddd;
  /* height: 1000px; */
  padding: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
}

.box {
  color: white;
  padding: 20px;
  font-size: 18px;
  border-radius: 5px;
  text-align: center;
}

/* Each box has a different width */

.box1 {
  background: #e74c3c;
  width: 100px;
}

.box2 {
  background: #3498db;
  height: 150px;
}
.box3 {
  background: #2ecc71;
  width: 120px;
  height: 300px;
}
.box4 {
  background: #f1c40f;
  width: 180px;
}
.box5 {
  background: #9b59b6;
  width: 140px;
}
.box6 {
  background: #34495e;
  width: 160px;
}
