.grid__container {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 5rem 2.5rem;
}
.grid-1 {
  background-color: #ee8434;
}
.grid-2 {
  background-color: #c95d63;
}
.grid-3 {
  background-color: #ae8799;
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}
.grid-4 {
  background-color: #717ec3;
}
